.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-left: 50px;
  margin-bottom: 25px;
}
@media screen and (max-width: 576px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cart-container {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #d8dbdd;
  border: 1px solid #e9ebec;
  height: 350px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.font-color {
  color: #37a5d4;
}
.cart-button {
  width: 75%;
  margin-bottom: 5px;
  border: none;
  border-radius: 20px;
  background-color: aliceblue;
}
.cart-button .button-text {
  text-align: center;
  color: blue;
  font-weight: 700;
}
.cart-button:hover {
  background-color: bisque;
  transition: 0.5s;
  cursor: pointer;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar h4 {
  margin-top: 2px;
}
.sidebar .delete {
  margin-bottom: 18px;
}
.sidebar img {
  margin-bottom: 15px;
  width: 30px;
  height: 30px;
}
