.item-container {
  width: 260px;
  height: 410px;
  box-shadow: 5px 5px 25px grey;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 19px;
  padding-top: 15px;
  transition: transform ease-out 1s;
}
.item-container:hover {
  transform: scale(1.1);
}
.item-container img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}
.btn-cart {
  width: 92%;
  border-radius: 20px;
  background-color: aliceblue;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cart .btn-text {
  margin-right: 10px;
  color: blue;
  font-weight: 700;
}
.btn-cart:hover {
  background-color: bisque;
  transition: 0.5s;
  cursor: pointer;
}
